<!-- <div class="outer-container"> -->
<!-- <div class="card-container"> -->
    <div *ngFor="let car of cars">
        <p-card header="{{ car.brand }} {{ car.model }}">
            <ng-template pTemplate="header">
                <img *ngIf="car.img" [src]="car.img" alt="{{ car.brand }} {{ car.model }}" class="card-image" />
            </ng-template>
            <p>
                Year: {{ car.year }}<br>
                Price: ${{ car.price }}<br>
                Status: ${{ car.status }}
            </p>
            <ng-template pTemplate="footer">
                <div class="flex" style="justify-content: space-between;">
                    <button pButton pRipple icon="pi pi-check" class="p-button-success" [rounded]="true"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-primary" [rounded]="true"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger" [rounded]="true"></button>
                </div>
            </ng-template>
        </p-card>
    </div>
<!-- </div> -->
<!-- </div> -->