.card-container {
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  /* Allow cards to wrap to the next line if necessary */
  justify-content: center;
  /* Distribute cards evenly */
}

textarea {
  max-width: 100%;
  /* Evita que se extienda más allá del contenedor */
  box-sizing: border-box;
  /* Incluye el padding y borde en el tamaño total */
}

.card-item {
  margin: 1rem;
  /* Espaciado entre los cards */
  flex-basis: 15%;
  /* Ajusta el ancho de cada card, 30% del contenedor */
  max-width: 30%;
  /* Asegura que no se expanda más allá del 30% */

  @media screen and (max-width: 768px) {
    /* Para pantallas medianas como tablets */
    flex-basis: 45%;
    /* Dos tarjetas por fila */
    max-width: 45%;
  }

  @media screen and (max-width: 576px) {
    /* Para pantallas pequeñas como móviles */
    flex-basis: 100%;
    /* Una tarjeta por fila */
    max-width: 100%;
  }
}

.card-image {
  width: 100%;
  /* Ajusta el ancho al 100% del contenedor */
  height: 250px;
  /* Ajusta la altura a 200px o lo que prefieras */
  object-fit: cover;
  /* Asegura que la imagen se ajuste sin distorsión */
}