:host ::ng-deep .p-sidebar {
    width: 300px;
    /* Adjust the width of the sidebar */
    background-color: #343a40;
    /* Sidebar background color */
    color: white;
    /* Sidebar text color */
}

:host ::ng-deep .p-sidebar .p-sidebar-header {
    background-color: #495057;
    /* Header background */
    color: white;
    /* Header text color */
}

:host ::ng-deep .p-sidebar .p-sidebar-content {
    padding: 1rem;
}