<!-- <p-sidebar [(visible)]="visible" [baseZIndex]="10000" [modal]="true">
    <h1 style="font-weight:normal">Sidebar Content</h1>
    <button type="button" pButton icon="pi pi-check" label="Save" (click)="save()"></button>
    <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="cancel()"></button>
</p-sidebar> -->
<p-sidebar [(visible)]="visible" [baseZIndex]="10000" [modal]="true" (onHide)="onHide()">
    <h1 style="font-weight:normal">Sidebar Content</h1>
    <button type="button" pButton icon="pi pi-check" label="Save" (click)="save()"></button>
    <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="cancel()"></button>
</p-sidebar>
<!-- <p-button type="button" icon="pi pi-bars" (click)="toggleSidebar()" [rounded]='true'></p-button> -->
