<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Seleccionar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{ row.user }}</td>
                <td>{{ row.date }}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="row.isChecked" (change)="onCheckChange(row)" />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-end">
        <button>Aprobar</button>
    </div>
</div>